version: 2
updates:
  - package-ecosystem: npm
    directory: /
    ignore:
      - dependency-name: "@types/vscode"
    schedule:
      interval: weekly

  - package-ecosystem: cargo
    directory: /
    schedule:
      interval: weekly

  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: weekly
