.eslintrc.json
.github
.gitignore
.TGA
.turbo
.vscode-test-web/**
.vscode/**
**/.next
**/*.mdx
**/*.ts
**/globals.css
**/next-env.d.ts
**/next.config.mjs
**/node_modules
**/postcss.config.js
**/tailwind.config.js
**/theme.config.tsx
apps/**/*.json
packages/**/*.json
pnpm-*.yaml
syntaxes/generate_popfile.tmLanguage.js
tsconfig.json
turbo.json
