!client/node_modules/{minimatch,brace-expansion,concat-map,balanced-match}/**
!client/node_modules/{semver,lru-cache,yallist}/**
!client/node_modules/vscode-jsonrpc/**
!client/node_modules/vscode-languageclient/**
!client/node_modules/vscode-languageserver-protocol/**
!client/node_modules/vscode-languageserver-types/**
.gitignore
.travis.yml
.vscode/**
**/*.map
**/*.ts
**/tsconfig.base.json
**/tsconfig.json
client/node_modules/**
contributing.md
tsconfig.tsbuildinfo