!packages/syntaxes/dist
.github
.gitignore
.vscode
.vscode-test-web
**/.next
**/.turbo
**/build.js
**/mdx-components.ts
**/next-env.d.ts
**/next.config.js
**/node_modules
**/postcss.config.js
**/svelte.config.js
**/tailwind.config.js
**/theme.config.tsx
**/tsconfig.json
**/vite.config.ts
**/webpack.config.ts
apps/**/package.json
apps/**/src/**
apps/API
apps/docs
apps/vtf-editor/index.html
apps/wavestatus-preview/index.html
Cargo.lock
Cargo.toml
packages/**
pnpm-*.yaml
rustfmt.toml
target
turbo.json
vscode-vdf.slnx
